[Unit]
Description=WhatsApp Proxy Activation
After=network.target

[Service]
ExecStart=/opt/wa_proxy.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
